<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        <!--扫描controller-->
        <context:component-scan base-package="com.plantsys.controller"/>

        <!--配置映射器和适配器-->
        <mvc:annotation-driven/>

        <!--配置视图解析器-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
            <property name="prefix" value="/WEB-INF/view/"/>
            <property name="suffix" value=".jsp"/>
        </bean>

        <!--配置文件上传
        使得应用程序能够接收和处理客户端上传的文件数据-->
        <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <!--设置文件名的编码-->
            <property name="defaultEncoding" value="utf-8"/>
            <!--配置上传文件的支持-->
            <property name="maxUploadSize" value="20971520"/>
            <!--设置上传文件的临时目录-->
            <!--<property name="uploadTempDir" value="upload/temp" />-->
        </bean>


        <!--配置静态文件放行
        将静态文件的处理委托给容器的默认Servlet
        如果请求的资源文件不存在于Spring MVC的处理路径中，就将该请求交给默认的Servlet来处理。
        这允许容器直接提供静态资源，而无需通过Spring MVC的控制器进行处理。-->
        <mvc:default-servlet-handler/>
</beans>