<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantsys.mapper.MaintenanceTaskInfoMapper">

    <resultMap id="BaseResultMap" type="com.plantsys.entity.MaintenanceTaskInfo">
            <result property="taskId" column="task_id" jdbcType="INTEGER"/>
            <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
            <result property="taskDescription" column="task_description" jdbcType="VARCHAR"/>
            <result property="maintenanceTime" column="maintenance_time" jdbcType="TIMESTAMP"/>
            <result property="maintenanceSite" column="maintenance_site" jdbcType="VARCHAR"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="creator" column="creator" jdbcType="INTEGER"/>
            <result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="plantName" column="plant_name" jdbcType="VARCHAR"/>
            <result property="plantId" column="plant_id" jdbcType="INTEGER"/>
            <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
            <result property="maintainerName" column="maintainer_name" jdbcType="VARCHAR"/>
            <result property="creatorName" column="creator_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,task_name,task_description,
        maintenance_time,maintenance_site,uid,
        creator,creation_time,update_time,
        plant_name,plant_id,task_status,
        maintainer_name,creator_name
    </sql>
</mapper>
