<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantsys.mapper.MedicamentMapper">

    <resultMap id="BaseResultMap" type="com.plantsys.entity.Medicament">
            <id property="medicamentId" column="medicament_id" jdbcType="INTEGER"/>
            <result property="medicamentName" column="medicament_name" jdbcType="VARCHAR"/>
            <result property="dosage" column="dosage" jdbcType="VARCHAR"/>
            <result property="duration" column="duration" jdbcType="VARCHAR"/>
            <result property="diseaseId" column="disease_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        medicament_id,medicament_name,dosage,
        duration,disease_id
    </sql>
    <delete id="deleteByMedicamentId">
        delete
        from medicament
        where medicament_id = #{medicamentId,jdbcType=NUMERIC}
    </delete>
    <insert id="addSelective">
        insert into medicament
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="medicamentId != null">medicament_id,</if>
            <if test="medicamentName != null">medicament_name,</if>
            <if test="dosage != null">dosage,</if>
            <if test="duration != null">duration,</if>
            <if test="diseaseId != null">disease_id,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="medicamentId != null">#{medicamentId,jdbcType=INTEGER},</if>
            <if test="medicamentName != null">#{medicamentName,jdbcType=VARCHAR},</if>
            <if test="dosage != null">#{dosage,jdbcType=VARCHAR},</if>
            <if test="duration != null">#{duration,jdbcType=VARCHAR},</if>
            <if test="diseaseId != null">#{diseaseId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <delete id="deleteByMedicamentIdAdd">
        delete
        from medicament
        where medicament_id = #{medicamentId,jdbcType=NUMERIC}
    </delete>
    <select id="selectByMedicamentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from medicament
        where
        medicament_id = #{medicamentId,jdbcType=NUMERIC}
    </select>
    <select id="selectByDiseaseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from medicament
        where
        disease_id = #{diseaseId,jdbcType=NUMERIC}
    </select>
    <update id="updateSelective">
        update medicament
        <set>
            <if test="medicamentName != null">medicament_name=#{medicamentName,jdbcType=VARCHAR},</if>
            <if test="dosage != null">dosage=#{dosage,jdbcType=VARCHAR},</if>
            <if test="duration != null">duration=#{duration,jdbcType=VARCHAR},</if>
            <if test="diseaseId != null">disease_id=#{diseaseId,jdbcType=NUMERIC},</if>
        </set>
        where medicamentId = #{medicamentId,jdbcType=NUMERIC}
    </update>
</mapper>
