<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantsys.mapper.MonitorValueInfoMapper">

    <resultMap id="BaseResultMap" type="com.plantsys.entity.MonitorValueInfo">
            <result property="recordId" column="record_id" jdbcType="INTEGER"/>
            <result property="plantId" column="plant_id" jdbcType="INTEGER"/>
            <result property="indicatorId" column="indicator_id" jdbcType="INTEGER"/>
            <result property="indicatorValue" column="indicator_value" jdbcType="FLOAT"/>
            <result property="plantName" column="plant_name" jdbcType="VARCHAR"/>
            <result property="indicatorName" column="indicator_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,plant_id,indicator_id,
        indicator_value,plant_name,indicator_name
    </sql>
</mapper>
