<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plantsys.mapper.TreatmentMapper">

    <resultMap id="BaseResultMap" type="com.plantsys.entity.Treatment">
            <id property="treatmentId" column="treatment_id" jdbcType="INTEGER"/>
            <result property="medicamentId" column="medicament_id" jdbcType="INTEGER"/>
            <result property="creator" column="creator" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="plantId" column="plant_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        treatment_id,medicament_id,creator,
        create_time,update_time,user_id,
        status,plant_id
    </sql>
    <delete id="deleteByMedicamentId">
        delete
        from treatment
        where medicament_id = #{medicamentId,jdbcType=NUMERIC}
    </delete>
    <update id="updateSelective">
        update treatment
        <set>
            <if test="medicamentId != null">medicament_id=#{medicamentId,jdbcType=NUMERIC},</if>
            <if test="creator != null">creator=#{creator,jdbcType=NUMERIC},</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time=#{updateTime,jdbcType=VARCHAR},</if>
            <if test="userId != null">user_id=#{userId,jdbcType=NUMERIC},</if>
            <if test="status != null">status=#{status,jdbcType=NUMERIC},</if>
            <if test="plantId != null">plant_id=#{plantId,jdbcType=NUMERIC},</if>
        </set>
        where treatmentId = #{treatmentId,jdbcType=NUMERIC}
    </update>
    <delete id="delByTreatmentId">
        delete
        from treatment
        where treatment_id = #{treatmentId,jdbcType=NUMERIC}
    </delete>
    <insert id="addSelective">
        insert into treatment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="treatmentId != null">treatment_id,</if>
            <if test="medicamentId != null">medicament_id,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="plantId != null">plant_id,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="treatmentId != null">#{treatmentId,jdbcType=INTEGER},</if>
            <if test="medicamentId != null">#{medicamentId,jdbcType=INTEGER},</if>
            <if test="creator != null">#{creator,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=VARCHAR},</if>
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="plantId != null">#{plantId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
</mapper>
